/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

/*Universal SElector*/
*{
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
html{
    font-size: 55%;
    scroll-behavior: smooth;

}
/*Styling header*/
header{
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem ;
}
/*logo for mobile*/
.logo img{
    width: 35%;
}

/*logo for desktop*/
.logo2{
    display: none;
}

/*styling navbar*/
header .navbar{
    position: absolute;
    background-color: rgb(192, 219, 195);   
    opacity: 0.55;
    top: 100%;
    right: 0;
    left: 0;
    height: fit-content;
}
header .navbar  li{
    display: flex;
    margin: 2rem 8%;
}

header .navbar li a{
    color: black;
    font-size: 1.5em;
    font-weight: bolder;
}
header .navbar li .active{
    color: rgb(8, 8, 8);
    background-color: rgb(84, 202, 100);
    padding: 1em;
    border-radius: 10%;
}
header .navbar a:hover{
    font-size: larger;
    font-weight: 900;
}

.responsive-image{
    min-height: 100vh;
    background: linear-gradient(rgba(2, 2, 2, 0.911),rgba(0, 0, 0, 0)),url(bg-images/home2.jpg);
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.responsive-image .welcome-text{
    display: none;
}
.responsive-image .welcome-text p{
    font-size: 2rem;
    color: white;
    
}
.responsive-image .welcome-text .direct, .mobile-intro .direct{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: rgb(255, 255, 255);
}
.responsive-image .welcome-text .direct:hover{
    background: #fff;
    color: black;
}

/*adding background image to body*/
body{
    background-image:linear-gradient(rgba(2, 2, 2, 0.911),rgba(0, 0, 0, 0)), url(bg-images/sl.jpg);
    background-attachment: fixed;
}
.mobile-intro{
    color: white;
    font-size: 2em;
    padding: 1em;
    background-color: #222;
    opacity: 0.8;
}
.container{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}
.container .heading{
    padding: 20%;
    font-size: larger;
    color: black;
    height: 100%;
    background-color: rgb(47, 155, 114);

}
.container img{
    width: 100%;
    transition: width 1s;

}
.container figcaption{
    font-size: larger;
    font-weight: 800;
    color: #fff;
}
.container img:hover{
    width: 95%;
}
.container .safari{
    grid-column: 1/3;
}
.container .spa{
    margin-top: -50%;
    
}
.activity{
    margin-top: 10%;
    background-color: rgb(190, 219, 170);
    display: block;
    height: 10%;
    
}
.activity img{
    border-radius: 50%;
    width: 100%;
}
.activity h2{
    font-size: 3rem;
    margin-top: 25%;  
    height: fit-content;
    width: 10%;
}
.activity p{
    font-size: 1.5rem;
    padding: 2em;
    background-color: rgb(255, 255, 255); 
    height: fit-content;      
    overflow-y: hidden;
}
.activity h4{
    font-size: 2rem;
}
.activity a:hover{
    background-color: rgb(167, 154, 154);
}
.activity h2:hover{
    background-color: aliceblue;
}
.resource{
    color: rgb(0, 0, 0);
    padding: 0.9em;
    background-color: rgb(180, 224, 180);
}

/*form style*/
#book{
    text-align: center;
}

.form{
    opacity: 0.85;
    font-weight: 800;
}

#cost{
    float: right;
}

.activitytype{
    text-align: center;
}
#activity #opt1{
    display: none;
}

#type{
    display: flex;
    margin: 0 20%;
    gap: 2em;
}
.ticket{
    cursor: pointer;
}
#tickettype1{
    background-color: rgb(142, 235, 142);
    width: 100%;
}
#tickettype1,#tickettype2{
    width: 100%;
    padding: 5% 0;
    
}
#local-tickets , #foreign-tickets {
   display: table;
}
#local-tickets p, #foreign-tickets p{ 
    display: table-row;  
}

#local-tickets label, #foreign-tickets label{ 
    display: table-cell; 
}

label > input[type=radio] {
    visibility: hidden;
    
}


.numbers{
    gap: 1em;
    display: flex;
}
#foreign-tickets, #foreign-prices, #duration-foreign{
    display: none;
}
.numbers fieldset, #extras{
    width: 100%;
    line-height: 2.2em;
}
input{
    width: 35px;
    border: 1px solid black;
}

#extrasL, #extrasF{
    display: flex;
    gap: 5%;
}
#extrasF{
    display: none;
}
#pass{
    border: 1px solid black;
}
table{
    border: 1px solid black;
    width: 90%;
}
table th{
    text-align: left;
}

.current{
    background-color: rgb(209, 241, 241);
    height: 50%;
    width: 100%;
    padding: 2%;
    text-align: center;
    font-size: 1.5em;
}

.form, .overall, .current{
    width: 100%;
    background: linear-gradient(rgb(137, 207, 146), rgb(238, 238, 245));
    padding: 5%;
    margin: 2em 0;
    font-size: 1.4em;  
}
.testt{
    width: 100%;
}

.form fieldset{
    background-color: rgb(191, 235, 204);
    padding: 1%;
    border: 1px solid black;
    border-radius: 5%;
}
.form fieldset legend{
    color: rgb(26, 24, 24);
    padding: 1%;
    font-weight: 900;
}

.buttons{
    text-align: right;
}
#add, #place{
    padding: 1em;
    margin: 1em;
    cursor: pointer;
    border: 1px solid rgb(48, 48, 48);
    font-weight: 900;
    background-color: rgb(127, 179, 127);
}

#add:hover, #place:hover{
    background-color: rgb(194, 233, 194);
}

.heritage{
    padding: 2em;
    color: #fff;
}
.links{
    display: flex;
    flex-direction: column;

}
.heritage .links figure a img{
    width: 50%;
    border-radius: 25%;
    transition: width 1.5s;
}
.heritage .links figure a img:hover{
    width: 55%;

}
/*styling footer*/
.footer {
    padding: 1em;
    width: 100%;
    background: linear-gradient(rgb(8, 39, 8),black);
    color:white;
    text-align:center;
}
.footer .references{
    background-color: rgb(56, 56, 56);
}
.footer a, .footer .references a{
    color: rgb(149, 221, 161);
}

/*media queries*/
@media only screen and (min-width: 70em) {/*desktop*/
    html{
        font-size: 70%;
    }
    header .navbar{
        position: absolute;
        top: 0;
        opacity: 1;
        width: 100%;
        text-align: center;
        height: 7%;
        
    }
    .header{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header .navbar{
        background-color: black;
    }
    header .navbar  li{
        display: inline-block;
        margin: 1rem;
    }
    header .navbar li a{
        color: #fff;
        font-size: 1rem;
        margin: 0.8rem;
    }
    header .navbar a:hover{
        color: lightgreen;
    }
    .responsive-image .welcome-text{
        display: block;
        text-align: center;
        margin-top: 20%;
        width: 50%;
    }
    .logo{
        display: none;
    }
    .logo2{
        display: block;
    }
    .mobile-intro{
        display: none;
    }
    .activity{
        display: flex;
    }
    .activity h2{
        transform: rotate(-90deg);
    }
    .container,.activities, .heritage{
        padding: 0 15% ;
    }
    .links{
        display: flex;
        flex-direction: row;
    
    }
    
    .testt{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .current{
        position: sticky;
        width: 60%;
        z-index: 1;
        top: 12%;
        left: 60%;
        overflow-x: hidden;
    }
    .current #order-container{
        margin-top: 20%;
    }
    .form, .overall{
        margin: 2em 3em;
    }
    .main-image{
        padding: 0;
    }
}