/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
/*Universal SElector*/
*{
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
html{
    font-size: 55%;
    scroll-behavior: smooth;

}
body{
    background-image:linear-gradient(rgba(2, 2, 2, 0.911),rgba(0, 0, 0, 0)), url(bg-images/sl.jpg);
    background-attachment: fixed;
}
/*Styling header*/
header{
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem ;
}
.logo img{
    width: 35%;
}
.logo2{
    display: none;
}

header .navbar{
    position: absolute;
    background-color: rgb(192, 219, 195);   
    opacity: 0.55;
    top: 100%;
    right: 0;
    left: 0;
    height: fit-content;
}
header .navbar  li{
    display: flex;
    margin: 2rem 8%;
}

header .navbar li a{
    color: black;
    font-size: 1.5em;
    font-weight: bolder;
}
header .navbar li .active{
    color: rgb(8, 8, 8);
    background-color: rgb(84, 202, 100);
    padding: 1em;
    border-radius: 10%;
}
header .navbar a:hover{
    font-size: larger;
    font-weight: 900;
}

.responsive-image{
    min-height: 100vh;
    background: linear-gradient(rgba(2, 2, 2, 0.911),rgba(0, 0, 0, 0)),url(bg-images/d4.jpg);
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.responsive-image .welcome-text{
    display: none;
}
.responsive-image .welcome-text p{
    font-size: 2rem;
    color: white;
    
}
.responsive-image .welcome-text .direct, .mobile-intro .direct{
    border: 1px solid rgb(78, 76, 76);
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: black;
    background-color: white;
}
.responsive-image .welcome-text .direct:hover{
    background: transparent;
    color: white;
    border: 1px solid white;
}
.mobile-intro{
    color: white;
    font-size: 2em;
    padding: 1em;
    background-color: #222;
    opacity: 0.8;
}
.content{
    padding: 4em;
}
.content figure img{
    width: 15%;
}

/*increase width when hovering*/
.content figure img:hover{
    width: 17%;
}

.products{
    width: 60%;
    display: block;
}
.products .product{
    position: relative;
    height: fit-content;
}
.products .product img{
    width: 100%;
}
.products .product div{   
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
    width: 100%;
}
.products .product:hover{
    cursor: pointer;
}
   
.products .product:hover div{
    width: 100%;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
}
h1, h2{
    text-align: center;
    color: #fff;
}
.tea{
    background-color: #fff;
    opacity: 0.75;
    display: block;
    gap: 2em;
    padding: 6em;
}
.tea img{
    width: 100%;
}
.tea .tea-products{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
}
.tea .tea-products section{
    border: 1px solid orange;
    padding: 1em;
}
.tea .tea-products h2{
    color: #222;
}
button{
    color: white;
    background-color: rgb(138, 90, 0);
    padding: 0.8em;
}
button:hover{
    background-color: rgb(85, 80, 64);
}
.products, .tea p{
    font-size: 2em;
}
figcaption{
    font-size: 1.5em;
}
.donations{
    display: block;
    padding: 0  10% ;
    margin-bottom: 2%;
    

}
.donations .donation-form h2{
    font-size: 3em;
    text-align: center;
    color: #fff;

}
.donations .why-donate{
    background-color: rgb(255, 255, 255);
    color: rgb(24, 160, 20);
    width: 100%;
    padding: 5%;
    font-size: medium;
    border: 1px dashed black;
    border-radius: 10%;
}
.donations .why-donate h2{
    color: black;
}


/*style form*/
form{
    text-align: center;
    background-color: rgb(152, 236, 152);
    padding: 1.4em;
}
form label{
    font-size: 2em;
    
}
form input{
    width: 90%;
    height: 3em;
}
form input .submit{
    background-color: orange;
    color: white;
}

/*style footer*/
.footer {
    padding: 1em;
    width: 100%;
    background: linear-gradient(rgb(8, 39, 8),black);
    color:white;
    text-align:center;
}
.footer .references{
    background-color: rgb(56, 56, 56);
}
.footer a, .footer .references a{
    color: rgb(149, 221, 161);
}

/*media queries*/
@media only screen and (min-width: 64em) {/*desktop*/
    html{
        font-size: 70%;
    }
    header .navbar{
        position: absolute;
        top: 0;
        opacity: 1;
        width: 100%;
        text-align: center;
        height: 7%;
        
    }
    .header{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header .navbar{
        background-color: black;
    }
    header .navbar  li{
        display: inline-block;
        margin: 1rem;
    }
    header .navbar li a{
        color: #fff;
        font-size: 1rem;
        margin: 0.8rem;
    }
    header .navbar a:hover{
        color: lightgreen;
    }
    .responsive-image .welcome-text{
        display: block;
        text-align: center;
        margin-top: 20%;
        width: 50%;
    }
    .logo{
        display: none;
    }
    .logo2{
        display: block;
    }
    .mobile-intro{
        display: none;
    }
    .content figure img{
        width: 5%;
    }
    .content figure img:hover{
        width: 7%;
    }
    .products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .tea{
        display: flex;
    }
    .tea .tea-products{
        grid-template-columns: 1fr 1fr;
    }
    .donations{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
}
