.responsive-image{ 
    background: linear-gradient(rgba(2, 2, 2, 0.911),rgba(0, 0, 0, 0)),url(bg-images/main3.jpg);
    
}

.responsive-image .welcome-text .direct, .mobile-intro .direct{
    border: 1px solid rgb(78, 76, 76);
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: black;
    background-color: white;
}
.responsive-image .welcome-text .direct:hover{
    background: transparent;
    color: white;
    border: 1px solid white;
}

.container{
    border: 1px solid black;
    padding: 2em;
    margin: 5% 10%;
    background-color: #fff;
    opacity: 0.80;
}
.food{
    display: block;
    padding: 4em;
    gap: 1em;
}
.food img{
    width: 100%;
}
.food h1,p{
    font-size: 1.5em;
}
.kottu{
    padding: 2em;
    margin: 5% 10%;
    background-color: #fff;

}
.kottu h1{
    text-align: center;
    font-size: 2em;

}
.kottu img{
    width: 100%;
    border-radius: 50%;
    float: none;   
}
.kottu iframe{
    width: 100%;
    height: 300px;
}

/*styling footer*/
.footer {
    font-size: 0.7em;
}

/*media queries*/
@media only screen and (min-width: 70em) {/*desktop*/
    .food{
        display: flex;
    }
    .food img{
        width: 50%;
    }
    .kottu img{
        width: 30%;
        float: left;
        margin-right: 5%;    
    }
    .kottu iframe{
        width: 50%;
        height: 300px;
    }
}