/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
/*Universal SElector*/
*{
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
html{
    font-size: 55%;
    scroll-behavior: smooth;

}
body{
    background-image:linear-gradient(rgba(2, 2, 2, 0.911),rgba(0, 0, 0, 0)), url(bg-images/sl.jpg);
    background-attachment: fixed;
}
/*Styling header*/
header{
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem ;
}

/*mobile logo*/
.logo img{
    width: 35%;
}

/*desktop logo*/
.logo2{
    display: none;
}

header .navbar{
    position: absolute;
    background-color: rgb(192, 219, 195);   
    opacity: 0.55;
    top: 100%;
    right: 0;
    left: 0;
    height: fit-content;
}
header .navbar  li{
    display: flex;
    margin: 2rem 8%;
}

header .navbar li a{
    color: black;
    font-size: 1.5em;
    font-weight: bolder;
}
header .navbar li .active{
    color: rgb(8, 8, 8);
    background-color: rgb(84, 202, 100);
    padding: 1em;
    border-radius: 10%;
}

/*style change when hovering over navbar link*/
header .navbar a:hover{
    font-size: larger;
    font-weight: 900;
}

.responsive-image{
    min-height: 100vh;
    background: linear-gradient(rgba(2, 2, 2, 0.911),rgba(0, 0, 0, 0)),url(bg-images/h4.jpg);
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.responsive-image .welcome-text{
    display: none;
}
.responsive-image .welcome-text p{
    font-size: 2rem;
    color: white;
    
}
.responsive-image .welcome-text .direct, .mobile-intro .direct{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: rgb(5, 5, 5);
    background-color: #fff;
}
.responsive-image .welcome-text .direct:hover{
    background: transparent;
    color: rgb(255, 255, 255);
}
.mobile-intro{
    color: white;
    font-size: 2em;
    padding: 1em;
    background-color: #222;
    opacity: 0.8;
}
.hotels{
    background-color: #fff;
    opacity: 0.75;
    font-size: 1.7em;
    display: grid;
    grid-gap: 1em;
    margin: 10%;
}
.hotel{
    display: block;
}
.hotel, .hotelc{
    border: 1px solid black;
    padding: 0.5em;
    border-radius: 2%;
}
.hotels a{
    color: black;
    background-color: orange;
    padding: 1em;
}
.hotels a:hover{
    background-color: rgb(238, 199, 127);
}
.hotels img{
    border-radius: 50%;
    width: 70%;
}

/*adding border when hovering*/
.hotels img:hover{
    border: 3px solid orange;

}

/*stylig footer*/
.footer {
    padding: 1em;
    width: 100%;
    background: linear-gradient(rgb(8, 39, 8),black);
    color:white;
    text-align:center;
}
.footer .references{
    background-color: rgb(56, 56, 56);
}
.footer a, .footer .references a{
    color: rgb(149, 221, 161);
}

/*media queries*/
@media only screen and (min-width: 70em) {/*desktop*/
    html{
        font-size: 70%;
    }
    header .navbar{
        position: absolute;
        top: 0;
        opacity: 1;
        width: 100%;
        text-align: center;
        height: 7%;
        
    }
    .header{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header .navbar{
        background-color: black;
    }
    header .navbar  li{
        display: inline-block;
        margin: 1rem;
    }
    header .navbar li a{
        color: #fff;
        font-size: 1rem;
        margin: 0.8rem;
    }
    header .navbar a:hover{
        color: lightgreen;
    }
    
    .responsive-image .welcome-text{
        display: block;
        text-align: center;
        margin-top: 20%;
        width: 50%;
    }
    .logo{
        display: none;
    }
    .logo2{
        display: block;
    }
    .mobile-intro{
        display: none;
    }
    .hotel{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .hotels-colombo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4em;
    }
}
