.responsive-image{
    background: linear-gradient(rgba(2, 2, 2, 0.911),rgba(0, 0, 0, 0)),url(bg-images/h4.jpg);
}

.responsive-image .welcome-text .direct, .mobile-intro .direct{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: rgb(5, 5, 5);
    background-color: #fff;
}
.responsive-image .welcome-text .direct:hover{
    background: transparent;
    color: rgb(255, 255, 255);
}

.hotels{
    background-color: #fff;
    opacity: 0.75;
    font-size: 1.7em;
    display: grid;
    grid-gap: 1em;
    margin: 10%;
}
.hotel{
    display: block;
}
.hotel, .hotelc{
    border: 1px solid black;
    padding: 0.5em;
    border-radius: 2%;
}
.hotels a{
    color: black;
    background-color: orange;
    padding: 1em;
}
.hotels a:hover{
    background-color: rgb(238, 199, 127);
}
.hotels img{
    border-radius: 50%;
    width: 70%;
}

/*adding border when hovering*/
.hotels img:hover{
    border: 3px solid orange;

}


/*media queries*/
@media only screen and (min-width: 70em) {/*desktop*/
    .hotel{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .hotels-colombo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4em;
    }
}
